body{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

span{
    font-size: 30px;
}

button{
    padding: 15px;
}