*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    position: relative;
}

.images{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

img{
    width: 400px;
    height: 300px;
    background-color: lightblue;
    object-fit: cover;
}

.modal{
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
}