body{
    padding: 30px;
}

.mode{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.mode #light {
    color: white;
    font-size: 30px;
    display: none;
}

.mode #dark {
    font-size: 30px;
    transition: transform all 0.6s ease-in-out;
}

.mode #dark:hover {
    transform: scale(1.2);
}