body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    width: 25em;
    border-radius: 0.8em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

img{
    height: 15em;
    width: 25em;
    background-color: crimson;
}

h1{
    margin: 0em;
}
button{
    padding: 1em;
    background-color: lightblue;
    cursor: pointer;
}